body
{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://vignette.wikia.nocookie.net/advancewars/images/c/c1/Battleships.gif/revision/latest/scale-to-width-down/340?cb=20090518201454);
}

td
{
    height: 40px;
    width: 40px;
    border-style: ridge;
    border-color: black;
    cursor: crosshair;
    text-align: center;
    border-radius: 10px;
}

#theGameBoard
{
    display: flex;
    justify-content: center;
}

#messageDiv
{
    display: block;
    text-align: center;
}

h2, h3
{
    display: block;
    text-align: center;
    color: rgb(255, 251, 0);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
